#btnAddProfilePic{
    position: relative;
    left: 15px;
    bottom: 34px;
}
#btnAddAboutMe{
    position: relative;
    left: 310px;
    bottom: 45px;
}

#aboutMeContentDiv{
    word-wrap:break-word;
}
#divProfileBanner{
    background-color:#fff;
    height:300px;
    margin-top: 10px;
 
}
#profilePicProfile{

}
#userFullNameProfile {
    margin-left: 65px;
    font-size: 20px;
}
#btnAddFriend{

}
.timelineFriendBtn{
    float:right;
    border-radius:0px;
        position: relative;
    top: 250px;
    right: 20px;
}
.profileDetailsDiv{
    margin-top:20px;
    margin-right:10px;
    padding:20px;
    box-sizing: border-box;
    background-color:#fff;
}
.profileDetailsRow{
    padding :10px;
    word-wrap:break-word;
}
#btnSaveAboutMe{
    float: right;
    background-color:#3b5998;
    color:#fff;
}
#txtAreaAboutMe{
  
}
#modalTitle{
    font-size:20px;
}
#txtAreaProfilePost{
    background-color: #fff;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#btnUploadImage{
    float:right;
    background-color:#3b5998;
    color:#fff;
}
#myFile{
    margin-left: 140px;
     background-color:#3b5998;
    color:#fff;

}
#imageContainer{
    text-align:center;
    margin-bottom: 20px;
}
#imagePreview{
    height: 150px;
    width: 150px;
}