@model IEnumerable<PasteBookModel.PB_NOTIFICATION>
    <style>
        #notifDropdown{
   width:400px;
   margin-top:50px;
   height: 400px;
   overflow-y:auto;
   overflow-x:hidden;
   
}
#notifContent{
    border-bottom-style: solid;
    border-bottom-color:#E8E9E9;
    border-radius:0px;
    height: 70px;
    padding:5px;
    margin:0px;
  box-sizing:border-box;
        
}

#menu1{
    float:right;
    padding-top:15px;
}
}
#notifPicture{

}
#notif{
  padding:0px;
  margin:0px;
}
#notifBox{
  padding:0px;
  margin:0px;
}
#notifTitle{
    margin-top:5px;
 word-wrap: break-word;
}
#notifBox ::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
#notifBox ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#notifBox ::-webkit-scrollbar {
    width: .5em;

}
 
/* Handle */
#notifBox ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  
}
#notifBox::-webkit-scrollbar-thumb:window-inactive {
	background: #fff; 
}
    </style>

            @{ foreach (var item in Model)
                {
            <li role="presentation" id="notifBox">
                <div class="row" id="notifContent">
                    <div class="col-md-4" id="notifPicture">
               
                    </div>
                    <div class="col-md-8" id="notif">
                        <div class="row" id="notifTitle">
                            @item.PB_USER1.FIRST_NAME &nbsp; @item.PB_USER1.LAST_NAME
                            @{ if (item.NOTIF_TYPE == "L")
                                {
                                    <a href="/Home/Posts/@item.PB_POSTS.ID">likes your post</a>

                                }
                                else if (item.NOTIF_TYPE == "C")
                                {
                                    <a href="/Home/Posts/@item.PB_POSTS.ID">commented on your post</a>
                            
                                }
                                else
                                {

                                }
                            }
                        </div>
                        <div class="row" id="notifDate">
                            <p id="date"></p>
                        </div>
                    </div>
                </div>
            </li>
                    }
                }
       