.divSearchList{
    padding: 20px;
    border-radius: 0px;
    background-color: #fff;
    margin:10px;
   
}
#profilePicFriends{
    height:100px;
}
#containerFriend{
    margin: 0px;
    padding: 0px;
}