#txtAreaPost{
    resize:none;
   border-radius:0px;
   margin-top:20px;
}
#userFullName{
font-size: 20px;
margin:20px 0px 0px 45px;

}
#profilePic{
    height:200px;
    margin:10px;
}
#commentPic{
    height: 50px;
    margin-left:5px;

}
#txtAreaComment{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
#btnSaveComment{
    padding: 0px;
    margin-top: 24px;
}
#commentPicDiv{
    padding:0px;
  
}
#btnAddPost{
    border-radius: 0px;
    float: right;
    margin-right: 20px;
    width: 60px;
    margin-top: 5px;
    margin-bottom:5px;
}
#AddPostDiv{
    padding:10px;
    border-style: solid;
    border-width:1px;
    margin-top:10px;
    margin-bottom:5px;
    border-color:#F5F5F5;
    border-radius:0px;
    background-color: #fff;
}
#nameComment{
    margin-top:10px;
    font-size:12px;
    font-weight:bold;
}
#commentContent{
    word-wrap:break-word;
}
#searchField{
    margin-top:10px;
}
.homeNavbarRight{
    color:#fff;
    margin-top:10px;
    background-color:#3b5998;
    border-radius:0px;
    border-color:#3b5998;
    height:40px;
}
.icon{
    height: 60px;
}
#contents{
   
    width:100%;
    border-style: solid;
    border-width:1px;
    border-radius:4px;
    border-color:#F5F5F5;
    background-color:#fff;
    padding: 25px;
    box-sizing:border-box;
    margin-bottom:10px;
   
}
body{
    background-color:#E8E9E9;
}
#postFooter{
    padding:5px;
    border-style: solid;
    border-width:1px;
    border-radius:4px;
    border-color: 	#F5F5F5;
    background-color:#fff;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
     box-sizing:border-box;
     margin-left:1px;
}
.txtAreaComment{
    border-radius:0px;
    margin-left:1px;
}
#commentBtn{
    border-radius:0px;
}
#postHeader{
    padding: 10px;
    font-weight:bold;
}
#postBody{
    padding: 10px;
}
#commentField{
    border-style: solid;
    border-width:1px;
    border-radius:4px;
    border-color: 	#F5F5F5;
    background-color:#fff;
    padding: 10px;
    box-sizing:border-box;
}
#unLikeBtn{
    color: blue;
  
}
#commentList{
        border-style: solid;
    border-width:1px;
    margin-top:5px;
    margin-bottom:5px;
    border-color:#F5F5F5;
    border-radius:0px;
}
#profilePicPost{
    height:80px;
}