body{
     background-color:#3b5998;
}
#loginPanelBody{
    background-color:#E8E9E9;
    padding-top:40px;
      height:300px;
}
#btnCreate{
 margin-top:20px;
    background-color:#3b5998;
    color:#fff;
    height:45px;
    padding-top:12px;
}
#loginPanel{
    border-radius:0px;
    width:500px;
-webkit-box-shadow: 1px 0px 26px -7px rgba(250,247,250,1);
-moz-box-shadow: 1px 0px 26px -7px rgba(250,247,250,1);
box-shadow: 1px 0px 26px -7px rgba(250,247,250,1);
}
#emailIcon{
    margin-left:20px;
    font-size:20px;
    padding-top:10px;
}
#passwordIcon{
      margin-left:20px;
    font-size:20px;
    padding-top:10px;
}
#loginPanelHeading{
    height:70px;
    background-color: #3b5998;
}
label{
   margin-bottom:0px;
}
#errorConfirmPassword{
    color:#FF0000;
}
#loginTitle{
    color:#fff;
    font-size:20px;
    font-weight:bold;
    margin-left:30px;
    margin-top:20px;
}
#errorMessageLogin{
    color: #FF0000;
     margin-left:70px;
}
.loginCol{
    padding :0px;
    margin :0px;
     
}
.center{
       text-align:center;
}
.loginRow{
    padding:0px;
    margin :0px;

}
#loginContainer{
   margin-top:20px;

}
.signUpforms{
    height: 50px;
   width:300px;
}
#signUpPanel{
    width:750px;
}
#signUpPanelBody{
    background-color:#E8E9E9;
    padding-top:40px;
}
#txtloginPassword{
    height: 50px;
   width:300px;
   margin-left:70px;
}
#txtloginEmailAddress{
  height: 50px;
  width:300px;
   margin-left:70px;
}
.loginFields {
    margin-top: 10px;
}
#btnSignUp{
 margin-top:20px;
    background-color:#3b5998;
    color:#fff;
    height:45px;
}
#logoHeight{
    height:80px;
}
#btnLogin{
    margin-top:20px;
    background-color:#3b5998;
    color:#fff;
    height:45px;
    width:80px;

}

.form-group{
    margin-bottom: 5px;
    padding-left:40px;
}
#lblBirthdate{
    margin-top:10px;
    padding:0px;
}
#requiredTitle{
    margin-left:40px;
    font-weight:bold;
}
.navbar{
    background-color: #3b5998;
    border-color: #3b5998;
}
#signUpTitle{
      color:#fff;
    font-size:20px;
    font-weight:bold;
    margin-left:30px;
    margin-top:10px;
}
#signUpTitleDiv{
    padding :10px;
}
#emailCheckerFail{
    color:red;
}
#emailCheckerSuccess{
    color: green;
}
#userNameCheckerFail{
    color:red;
}
#userNameCheckerSuccess{
    color: green;
}
#orLogin{
    font-weight:bold;
    
}
