label{
   margin-bottom:0px;
}
#errorConfirmPassword{
    color:#FF0000;
}
#loginTitle{
    color:#fff;
    font-size:15px;
    font-weight:bold;
}
#errorMessageLogin{
    color: #fff;
}
.loginCol{
    padding :0px;
    margin :0px;
}
.loginRow{
    padding:0px;
    margin :0px;
}
#loginContainer{
    padding:0px;
    margin:0px;

}
#txtloginPassword{
   margin-left:50px;
   width:200px;
}
#txtloginEmailAddress{
    margin-right:30px;
  width:200px;
}
.loginFields {
    margin-top: 10px;
}

#btnLogin{
    margin-left:111px;
    margin-top:10px;
}
#dateBirthdate{
    /*width:200px;*/
}
.form-group{
    margin-bottom: 5px;
    padding: 0px;
}
#lblBirthdate{
    margin-top:10px;
    padding:0px;
}
#signUpDiv{
    margin-top:100px;
}
.navbar{
    background-color: #3b5998;
    border-color: #3b5998;
    padding-top:40px;
    padding-bottom:10px;
}
#signUpTitle{
    font-size:40px;
}
#signUpTitleDiv{
    padding :10px;
}
#emailCheckerFail{
    color:red;
}
#emailCheckerSuccess{
    color: green;
}
#userNameCheckerFail{
    color:red;
}
#userNameCheckerSuccess{
    color: green;
}