#btnAddProfilePic{
    position: relative;
    left: 15px;
    bottom: 34px;
}
#btnAddAboutMe{
    position: relative;
    left: 310px;
    bottom: 45px;
}

#aboutMeContentDiv{
    word-wrap:break-word;
}
#divProfileBanner{
    background-color:#fff;
    height:300px;
    margin-top: 10px;
 
}
#profilePicProfile{
}
#userFullNameProfile {
text-align:center;
    font-size: 20px;
}
.timelineFriendBtn{
    float:right;
    border-radius:0px;
        position: relative;
    top: 250px;
    right: 20px;
}
.profileDetailsDiv{
    margin-top:20px;
    margin-right:10px;
    padding:20px;
    box-sizing: border-box;
    background-color:#fff;
}
.profileDetailsRow{
    padding :10px;
    word-wrap:break-word;
}
#btnSaveAboutMe{
    float: right;
    background-color:#3b5998;
    color:#fff;
}
#modalTitle{
    font-size:20px;
}
#txtAreaProfilePost{
    background-color: #fff;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#btnUploadImage{
    float:right;
    background-color:#3b5998;
    color:#fff;
}
#myFile{
    margin-left: 140px;

}
#imageContainer{
    text-align:center;
    margin-bottom: 20px;
}
#imagePreview{
    height: 150px;
    width: 150px;
}
.center{
    text-align:center;
}
#profilePicTimeline{
    height: 200px;
    width: 200px;
    margin-top: 20px;

}
#btnAcceptAndReject{
    width: 500px;
    float: right;
    position: relative;
    top: 220px;
    left: 100px;
}