#btnAddProfilePic{
    position: relative;
    left: 15px;
    bottom: 34px;
}
#btnAddAboutMe{
    position: relative;
    left: 215px;
    bottom: 45px;
}
#aboutMeContentDiv{
    word-wrap:break-word;
}
#divProfileBanner{
    background-color:#fff;
    margin-top: 10px;
}
#profilePicProfile{

}
#userFullNameProfile {
    margin-left: 70px;
    font-size: 20px;
}
#btnAddFriend{

}
.timelineFriendBtn{
    float:right;
    border-radius:0px;
        position: relative;
    top: 250px;
    right: 20px;
}
.profileDetailsDiv{
    margin-top:20px;
    margin-right:10px;
    padding:20px;
    box-sizing: border-box;
    background-color:#fff;
}
.profileDetailsRow{
    padding :10px;
    word-wrap:break-word;
}