<style>
    #mainError {
    font-size: 150px;
    font-weight: 600;
}

#secondaryError {
    font-size: 40px;
}

#search {
    color: #f00;
    font-size: 400px;
}

#warning {
    font-size: 400px;
    color: #FFA500;
}

.navbar{
    display:none;
}
</style>
<div class="container">
    <div class="row jumbotron">
        <div class="col-md-6">
            <p id="mainError">Oops! </p>
            <p id="secondaryError">
                An unexpected error occured<br />
            <p><a href='@Url.Action("Index","Account")'>Go to home page</a></p>
            </p>

        </div>
        <div class="col-md-6">
            <p id="warning"> <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></p>
        </div>
    </div>

</div>
